.product-container {
  width: 250px;
  height: 400px;
  border-radius: 8px;
  overflow: clip;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.01);
  border: 1px solid #f0f0f0;
}

.product-image {
  width: 250px;
  height: 250px;
  background-color: white;
  padding: 20px;
  position: relative;
}

.product-image:hover {
  cursor: pointer;
}

.product-image img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.wishlist-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.icon.wishlist-icon:hover {
  border: 1px solid red;
}

.icon.wishlisted {
  color: red;
}

.product-details-container {
  padding: 10px;
  text-align: left;
  /* height: calc(100% - 310px); */
}

.product-title {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.price-rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
}

.cta-container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 10px;
  padding: 10px;
}

.cta-button {
  flex: 1;
  width: 100%;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .product-container {
    width: 150px;
    height: 300px;
  }

  .product-image {
    width: 150px;
    height: 150px;
  }

  .cta-container {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
