.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../assets/Hero.svg");
  width: 100vw;
  height: 100vh;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px;
}

.page-description {
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
  margin-bottom: 40px;
  background: linear-gradient(
    45deg,
    #ff9a9e,
    #fad0c4,
    #fad0c4,
    #fbc2eb,
    #a18cd1
  );
  -webkit-background-clip: text;
  background-clip: text; /* Add the standard property */
  -webkit-text-fill-color: transparent;
  font-size: 2em; /* Adjust the font size as needed */
  font-weight: bold;
  position: relative;
  overflow: clip;
  border-radius: 8px;
  padding: 5px 15px;
}

.page-description::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
  transform: skewX(-25deg);
  animation: shine 2s infinite;
}

@keyframes shine {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}

/* 
/* 

=========================
CART PAGE STYLES
=========================
*/

.cart-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.cart-products-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.cart-summary {
  width: 100%;
  position: relative;
  height: 100%;
}

.homepage-cta,
.empty-wishlist,
.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.homepage-cta button,
.empty-wishlist button,
.empty-cart button {
  width: 180px;
}

@media screen and (max-width: 768px) {
  .cart-container {
    grid-template-columns: 1fr;
  }
}
